/* img for dev icons that weren't in the font library */
.dev-img {
	width: 6em;
	height: 6em;
}
/* dev icons */
.colored {
	font-size: 6em;
}
/* the profile picture */
.img-circle {
    border-radius: 50%;
    border: 1px solid #d8d8d8;
    -webkit-filter: sepia(100%); /* Safari */
    filter: sepia(50%);
		width: 100%;
    height: 180px;
		max-width: 180px;
		max-height: 180px;
}

/* the center images in about */

.center-img {
  border: 1px solid #d8d8d8;
  margin: .2em;
  max-width: 20em;
  max-height: 20em;

}


.dark-nav {
	background-color: black;
}

.no-padding {
	background-color: black;
}

.display-photo {
   display: block;
   position: relative;
   width: 100%;
   border:none;
}
